<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>学生管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet" th:href="@{/static/css/dashboard.css}">
    <link href="css/customIndex.css" rel="stylesheet" th:href="@{/static/css/customIndex.css}">
</head>


<body>

<div th:replace="template::topBar"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="template::sideBar(ck='xy')"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row"><span>当前位置->学院列表</span></div>
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>学院编号</th>
                        <th>学院名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="college:${colleges}">
                        <td>[[${college.collegeNum}]]</td>
                        <td>[[${college.collegeName}]]</td>
                        <td>
                            <button class="btn btn-primary" name="updateBtnCol">修改</button>
                            <a class="btn btn-danger" href="#" name="delBtn"
                               th:href="@{/delCollege(collegeNum=${college.collegeNum})}">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="operations-panel">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">添加学院</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">学院添加</h4>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{/addCollege}" id="mtform">
                    <div class="form-group">
                        <label>学院编号</label>
                        <input type="text" class="form-control" name="collegeNum"/>
                    </div>
                    <div class="form-group">
                        <label>学院名称</label>
                        <input type="text" class="form-control" name="collegeName"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="mtadd">添加</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="UpModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">学院修改</h4>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{/updateCollege}" id="upform">
                    <div class="form-group">
                        <label>学院编号</label>
                        <input type="text" class="form-control" name="collegeNum" readonly/>
                    </div>
                    <div class="form-group">
                        <label>学院名称</label>
                        <input type="text" class="form-control" name="collegeName"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="upadd">更新</button>
            </div>

        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
<script src="js/coustomJs.js" th:src="@{/static/js/coustomJs.js}"></script>
<!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
<script src="../../dist/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
</body>
</html>
