<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="topBar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">学生信息管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">注销</a></li>
            </ul>
        </div>
    </div>
</nav>
    <div class="col-sm-3 col-md-2 sidebar" th:fragment="sideBar">
    <ul class="nav nav-sidebar">
        <li th:class="${ck}=='stu'?'active':''">
            <a href="#" class ="xlMenu">
                <span  aria-hidden="true" th:class="${ck}=='stu'?'glyphicon glyphicon-minus-sign':'glyphicon glyphicon-plus-sign'"></span> 学生管理
            </a>
            <ul th:class="${ck}=='stu'?'show detailUl':'hidden detailUl'">
                <li>
                    <a th:href="@{/toAddStuPage}">添加学生</a>
                </li>
                <li>
                    <a th:href="@{/showStuInfo}">学生列表</a>
                </li>
            </ul>
        </li>
        <li th:class="${ck}=='sc'?'active':''">
            <a href="#" class ="xlMenu">
                <span  aria-hidden="true" th:class="${ck}=='sc'?'glyphicon glyphicon-minus-sign':'glyphicon glyphicon-plus-sign'"></span> 成绩管理
            </a>
            <ul  th:class="${ck}=='sc'?'show detailUl':'hidden detailUl'">
                <li>
                    <a th:href="@{/toAddScore}">成绩录入</a>
                </li>
                <li>
                    <a th:href="@{/showStuScore}">成绩列表</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class ="xlMenu">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 选课模块
            </a>
            <ul class ="detailUl hidden">
                <li>
                    <a href="#">我的选课</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class ="xlMenu">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 用户管理
            </a>
            <ul class ="detailUl hidden">
                <li>
                    <a href="#">密码修改</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>