<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dxxy.dao.ScoreDao">
    <sql id="selScore">
        select s.s_id sId,s_name sName,scl.c_name cName,sc.grade grade,sc.sc_id scId,s_year sYear,cou.cou_name couName
        from stu_info s join stu_class scl on s.c_id = scl.c_id
        join score sc on sc.s_id  = s.s_id
        join course cou on sc.cou_id = cou.cou_id
    </sql>

    <select id="showStuScore" resultType="map">
        <include refid="selScore"></include>
    </select>

    <select id="findAllCourse" resultType="cn.dxxy.entity.Course">
        select * from course
    </select>

    <insert id="addScore">
        insert into score(s_id,cou_id,grade,s_year,sc_id) values(#{sId},#{couId},#{grade},#{sYear},#{scId})
    </insert>

    <select id="findScoreByScId" resultType="map">
        <include refid="selScore"></include>
        where sc.sc_id = #{scId}
    </select>

    <update id="updateScore">
        update score set grade = #{grade} where sc_id = #{scId}
    </update>

    <delete id="delScoreById">
        delete from score where sc_id = #{scId}
    </delete>
    <select id="findScoreByClass" resultType="map">
        <include refid="selScore"></include>
        where sc.sc_id = #{scId}
    </select>

    <select id="findScoreBySid" resultType="map">
        <include refid="selScore"></include>
        where s.s_id = #{scId}
    </select>

    <resultMap id="findStu" type="cn.dxxy.entity.Student" autoMapping="true">
        <result column="cName" property="stuClass.cName"/>
        <result column="collegeNum" property="stuClass.college.collegeNum"/>
        <result column="collegeName" property="stuClass.college.collegeName"/>
    </resultMap>
    <select id="findStuById" resultMap="findStu">
        select s.s_id sId,s_name sName,s_sex sSex,s_place sPlace,s_email sEmail ,s_age sAge,
        sc.c_id cId,c_name cName,co.college_num collegeNum,college_name collegeName
        from stu_info s join stu_class sc on s.c_id = sc.c_id
        join college co on sc.col_id = co.college_num
        where s.s_id = #{sId}
    </select>

    <select id="findCourseBySpId" resultType="cn.dxxy.entity.Course">
        select course.cou_id couId,cou_name couName
        from course  join selCourse on course.cou_id = selCourse.cou_id
        where c_id = #{spId}
    </select>

</mapper>