<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dxxy.dao.ScoreDao">
    <sql id="selScore">
        select s.s_id sId,s_name sName,scl.c_name cName,sc.grade grade,sc.sc_id scId,s_year sYear,cou.cou_name couName
        from stu_info s join stu_class scl on s.c_id = scl.c_id
        join score sc on sc.s_id  = s.s_id
        join course cou on sc.cou_id = cou.cou_id
    </sql>

    <select id="showStuScore" resultType="map">
        <include refid="selScore"></include>
    </select>

    <select id="findAllCourse" resultType="cn.dxxy.entity.Course">
        select * from course
    </select>

    <insert id="addScore">
        insert into score(s_id,cou_id,grade,s_year,sc_id) values(#{sId},#{couId},#{grade},#{sYear},#{scId})
    </insert>

    <select id="findScoreByScId" resultType="map">
        <include refid="selScore"></include>
        where sc.sc_id = #{scId}
    </select>

    <update id="updateScore">
        update score set grade = #{grade} where sc_id = #{scId}
    </update>

    <delete id="delScoreById">
        delete from score where sc_id = #{scId}
    </delete>
    <select id="findScoreByClass" resultType="map">
        <include refid="selScore"></include>
        where sc.sc_id = #{scId}
    </select>

    <select id="findScoreBySid" resultType="map">
        <include refid="selScore"></include>
        where s.s_id = #{scId}
    </select>

</mapper>